#main-box{
    width:100%;
    height:34px;
    .container{
        position:relative;
        .main-nav{
            width:1200px;
            height:34px;
            overflow:hidden;
            background-color:#DE1B21;
            .main-nav-left{
                width:250px;
                height:34px;
                h2{
                    text-align:center;
                    font-size:14px;
                    line-height:34px;
                    color:#fff;
                    font-weight:bold;
                }
            }
            .main-nav-center{
                width:700px;
                height:34px;
                ul{
                    width:700px;
                    height:34px;
                    overflow:hidden;
                    li{
                        float:left;
                        a{
                            font-size:14px;
                            line-height:34px;
                            color:#fff;
                            display:block;
                            padding:0 10px;
                        }
                    }
                    li:first-child{
                        background-color:#a62326;
                    }
                    li:hover{
                        background-color:#a62326;
                    }
                    .active a{
                        font-weight:bold;
                        color:#fef597;
                    }
                }
            }
            .main-nav-right:hover{
                .main-nav-right-shopping{
                    display:block;
                }
            }
            .main-nav-right{
                width:150px;
                height:100%;
                background-color:#FF0105;
                text-align:center;
                a{
                    font-size:14px;
                    line-height:34px;
                    color:#fff;
                    padding:0 5px;
                }
                i:first-child{
                    display:inline-block;
                    color:#fff;
                    font-size:20px;
                    line-height:34px;
                }
                i:nth-child(3){
                    display:inline-block;
                    width:5px;
                    color:#fff;
                    font-size:14px;
                    line-height:34px;
                }
                .main-nav-right-shopping{
                    display:none;
                    width:350px;
                    background-color:#fff;
                    border:1px solid #ccc;
                    z-index:100;
                    position:absolute;
                    right:0px;
                    top:34px;
                    .shop-left{
                        width:65px;
                        i{
                            display:inline-block;
                            padding-left:15px;
                            color:#ccc;
                            font-size:50px;
                            line-height:75px;
                        }
                    }
                    .shop-right{
                        width:280px;
                        p{
                            width:100%;
                            text-align:center;
                            font-size:14px;
                            line-height:75px;
                        }
                    }
                    h3{
                        font-size:12px;
                        line-height:37px;
                        padding-left:8px;
                        text-align:left;
                        height:38px;
                        border-bottom:1px solid #ccc;
                        font-weight:bold;
                        color:#000;
                    }
                    .goodslist{
                        height:100%;
                        text-align:left;
                        li{
                            width:350px;
                            height:59px;
                            padding:8px 10px 0px;
                            font-size:12px;
                            overflow:hidden;
                            p{
                                float:left;
                                img{
                                    width:50px;
                                    height:50px;
                                    border:1px solid #ccc;
                                    margin-right:10px;
                                    float:left;
                                }
                            }
                            p:nth-child(1){
                                width:51px;
                            }
                            p:nth-child(2){
                                padding-left:10px;
                                width:180px;
                                margin-right:20px;
                            }
                            p:nth-child(3){
                                width:50px;
                            }
                        }
                    }
                    .calcu{
                        height:72px;
                        background-color:#eee;
                        padding-left:150px;
                        p{
                            padding-right:5px;
                            font-size:14px;
                            line-height:34px;
                            color:#656565;
                            span{
                                color:red;
                                padding:0 3px;
                            }
                        }
                        a{
                            display:inline-block;
                            width:120px;
                            height:30px;
                            background-color:red;
                            color:#fff;
                            border-radius:5px;
                        }
                    }
                }
            }
        }
    }
}
#main-content{
    height:670px;
    overflow:hidden;
    .container{
        height:670px;
        overflow:hidden;
        .main-content-nav{
            width:250px;
            height:670px;
            .item:first-child{
                margin:0;
                border-top:2px solid transparent;
            }
            .item:last-child{
                height:100px;
            }
            .item1:hover{
                margin-right:-10px;
                border:2px solid #DE1B21;
                border-right:0 none;
                z-index:102;
                .i-mc-1{
                    display:block;
                    top:179px;
                    border-left:2px solid #DE1B21;
                }
            }
            .item2:hover{
                margin-right:-10px;
                border:2px solid #DE1B21;
                border-right:0 none;
                z-index:102;
                .i-mc-2{
                    display:block;
                    top:293px;
                    border-left:2px solid #DE1B21;
                }
            }
            .item3:hover{
                margin-right:-10px;
                border:2px solid #DE1B21;
                border-right:0 none;
                z-index:102;
                .i-mc-3{
                    display:block;
                    top:407px;
                    border-left:2px solid #DE1B21;
                }
            }
            .item4:hover{
                margin-right:-10px;
                border:2px solid #DE1B21;
                border-right:0 none;
                z-index:102;
                .i-mc-4{
                    display:block;
                    top:521px;
                    border-left:2px solid #DE1B21;
                }
            }
            .item5:hover{
                margin-right:-10px;
                border:2px solid #DE1B21;
                border-right:0 none;
                z-index:102;
                .i-mc-5{
                    display:block;
                    top:635px;
                    border-left:2px solid #DE1B21;
                }
            }
            .item6:hover{
                margin-right:-10px;
                border:2px solid #DE1B21;
                border-right:0 none;
                z-index:102;
                .i-mc-6{
                    display:block;
                    top:749px;
                    border-left:2px solid #DE1B21;
                }
            }
            .item{
                width:250px;
                height:112px;
                border:2px solid #fff;
                border-top:2px solid #ddd;
                margin-top:2px;
                padding-left:10px;
                .posi{
                    h3{
                        margin-top:10px;
                        font-size:14px;
                        line-height:20px;
                        font-weight:bold;
                    }
                    h3:hover a{
                        text-decoration:underline;
                    }
                    p{
                        a{
                            display:inline-block;
                            font-size:12px;
                            line-height:16px;
                            margin:4px 0;
                            color:#000;
                        }
                        a:hover{
                            text-decoration:underline;
                        }
                    }   
                }
                .item-mc{
                    display:none;
                    width:626px;
                    height:auto;
                    border:2px solid #DE1B21;
                    background-color:#fff;
                    overflow:hidden;
                    z-index:100;
                    position:absolute;
                    left:281px;
                    top:-2px;
                    .i-mc{
                        width:310px;
                        padding-bottom:10px;
                        dl{
                            width:289px;
                            height:auto;
                            margin:0 12px;
                            padding:6px 0;
                            overflow:hidden;
                            border-bottom:1px solid #ccc;
                            dt{
                                display:inline-block;
                                a{
                                    display:inline-block;
                                    font-size:14px;
                                    line-height:25px;
                                    font-weight:bold;
                                    color:#636363; 
                                    margin-right:10px;
                                }
                                a:hover{
                                    text-decoration:underline;
                                }
                            }
                            dd{
                                display:inline-block;
                                a{
                                    display:inline-block;
                                    font-size:12px;
                                    line-height:25px;
                                    color:#666; 
                                    margin-right:10px;
                                }
                                a:hover{
                                    text-decoration:underline;
                                }
                                .active{
                                    color:#DE1B21;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-content-banner{
            width:690;
            height:670px;
            .main-content-banner-top{
                width:690px;
                height:390px;
            }
            .main-content-banner-bottom{
                width:690px;
                height:280px;
                .sale-top{
                    width:690px;
                    height:46px;
                    overflow:hidden;
                    background-color:#f5f5f5;
                    i{
                        font-size:30px;
                        line-height:46px;
                        color:#d91519;
                        margin-left:30px;
                    }
                    .sale-left{
                        height:46px;
                        display:inline-block;
                        font-size:16px;
                        line-height:46px;
                        color:#d91519;
                        padding-left:20px;
                    }
                    .Countdown{
                        font-size:14px;
                        line-height:46px;
                        span:first-child{
                            padding-left:30px;
                        }
                        span{
                            display:inline-block;
                            float:left;
                            font-size:16px;
                            line-height:46px;
                            padding:0 5px;
                        }
                        .active{
                            font-size:24px;
                            font-weight:bold;
                            line-height:46px;
                            color:#d91519;
                        }
                    }
                    .forecast{
                        width:100px;
                        height:46px;
                        text-align:center;
                        font-size:16px;
                        line-height:46px;
                        padding-right:15px;
                        cursor:pointer;
                    }
                }
                .sale-bottom{
                    width:690px;
                    height:234px;
                    ul{
                        overflow:hidden;
                        li{
                            border-top:3px solid transparent;
                            padding-top:15px;
                            width:200px;
                            height:234px;
                            margin-right:50px; 
                            text-align:center;
                            cursor:pointer;
                            p{
                                font-size:14px;
                                line-height:24px;
                                span{
                                    color:#d91519;
                                }
                            }
                        }
                        li:hover{
                            border:1px solid #ccc; 
                            border-top:3px solid #d91519;
                        }
                    }
                }
            }
        }
        .main-content-notice{
            width:260px;
            height:670px;
            overflow:hidden;
            .main-content-notice-top{
                width:260px;
                height:389px;
                background-color:#fff;
                ul{
                    width:260px;
                    height:389px;
                    li{
                        width:260px;
                        height:129px;
                        position:relative;
                        a img{
                            display:block;
                            border-bottom:1px solid #ccc;
                            width:260px;
                            height:129px;
                            position:absolute;
                            left:0px;
                            top:0px;
                        }
                    }
                    li:last-child a img{
                        border-bottom:0 none;
                    }
                    li:nth-child(1):hover{
                        left:-5px;
                    }
                    li:nth-child(2):hover{
                        left:-5px;
                    }
                    li:nth-child(3):hover{
                        left:-5px;
                    }
                }
            }
            .main-content-notice-bottom{
                width:260px;
                height:281px;
                .notice-top{
                    ul{
                        width:260px;
                        height:46px;
                        li{
                            width:86px;
                            height:45px;
                            border:1px solid #fff;
                            text-align:center;
                            a{
                                font-size:14px;
                                color:#000;
                                line-height:45px;
                            }
                        }
                        li:first-child{
                            border-top:2px solid #d91519;
                            border-left:1px solid #ccc;
                            border-right:1px solid #ccc;
                        }
                    }
                }
                .notice-bottom{
                    width:260px;
                    height:235px;
                    border-left:1px solid #ccc;
                    .notice-bottom_1{
                        display:block;
                        width:260px;
                        height:235px;
                        p{
                            width:235px;
                            height:43px;
                            margin-bottom:17px;
                            font-size:16px;
                            line-height:43px;
                            color:#4d4d4d;
                            i{
                                float:left;
                                font-size:35px;
                                padding-left:20px;
                                padding-right:15px;
                                line-height:43px;
                                color:#01A1A1;
                            }
                        }
                        p:hover a{
                            text-decoration:underline;
                            color:#d91519;
                        }
                    }
                    .notice-bottom_2{
                        display:none;
                        width:260px;
                        height:235px;
                        p{
                            width:235px;
                            height:29px;
                            padding-left:25px;
                            padding-top:4px;
                            a{
                                font-size:14px;
                                line-height:29px;
                                color:#626262;
                            }
                        }
                        p:hover a{
                            text-decoration:underline;
                            color:#d91519;
                        }
                    }
                    .notice-bottom_3{
                        display:none;
                        width:260px;
                        height:235px;
                        p{
                            width:235px;
                            height:29px;
                            padding-left:25px;
                            padding-top:4px;
                            a{
                                font-size:14px;
                                line-height:29px;
                                color:#626262;
                            }
                        }
                        p:hover a{
                            text-decoration:underline;
                            color:#d91519;
                        }
                    }
                }
            }
        }
    }
}
#goods-box{
    height:3876px;
    background-color:#F5F5F5;
    .container{
        height:3876px;
        .section_floor{
            height:318px;
            margin-top:5px;
            .sec_flo_title{
                height:46px;
                .flo_name{
                    h2{
                        color:#666;
                        font-size:24px;
                        line-height:46px;
                        font-weight:bold;
                        span{
                            padding-left:20px;
                            padding-right:10px;
                            color:#000;
                        }
                        .h1{
                            color:#713010;
                        }
                        .h2{
                            color:#d19403;
                        }
                        .h3{
                            color:#e20c57;
                        }
                        .h4{
                            color:#0060e2;
                        }
                        .h5{
                            color:#ff8a00;
                        }
                        .h6{
                            color:#6839c9;
                        }
                        .h7{
                            color:#39bbc9;
                        }
                    }
                }
                .ill_name{
                    width:800px;
                    height:46px;
                    ul{
                        height:46px;
                        li{
                            float:right;
                            padding-top:20px;
                            margin-left:20px;
                            a{
                                font-size:13px;
                            }
                        }
                        li:hover a{
                            color:#d91519;
                            text-decoration:underline;
                        }
                    }
                }
            }
            .sec_flo_con{
                height:265px;
                overflow:hidden;
                background-color:#fff;
                .keyword_section{
                    width:210px;
                    height:265px;
                    .key_sc_name{
                        width:210px;
                        height:111px;
                        ul{
                            li{
                                width:100px;
                                padding-top:10px;
                                height:25px;
                                padding-left:10px;
                                a{
                                    display:inline-block;
                                    font-size:12px;
                                    line-height:25px;
                                    color:#666;
                                }
                                a:hover{
                                    color:#d91519;
                                    text-decoration:underline;
                                }
                            }
                        }
                        ul:first-child{
                            margin-right:10px;
                        }
                    }
                    .key_sc_pic{
                        width:210px;
                        height:154px;
                        text-align:center;
                    }
                }
                .product_list{
                    width:711px;
                    height:265px;
                    ul{
                        li{
                            border-right:1px solid #ccc;
                            width:178px;
                            height:265px;
                            float:left;
                            .product-top{
                                width:178px;
                                height:177px;
                                a img{
                                    width:177px;
                                    height:177px;
                                }
                            }
                            .product-bottom{
                                width:177px;
                                height:88px;
                                padding-left:10px;
                                padding-top:10px;
                                a{
                                    display:inline-block;
                                    font-size:12px;
                                    line-height:24px;
                                }
                                a:hover{
                                    text-decoration:underline;
                                }
                                p{
                                    font-size:14px;
                                    line-height:24px;
                                }
                                p:nth-child(2){
                                    font-size:12px;
                                    color:#fe5f03;
                                }
                                p:nth-child(3){
                                    color:#d91519;
                                }
                            }
                        }
                        li:last-child{
                            width:177px;
                            border-right:0 none;
                        }
                    }
                }
            }
        }
    }
}
#brand-box{
    height:284px;
    background-color:#F5F5F5;
    .container{
        height:284px;
        .brand_section{
            height:40px;
            margin-bottom:44px;
            h2{
                font-size:20px;
                line-height:40px;
                color:#666;
            }
        }
        .friend_tab{
            height:200px;
            .tabs_r{
                height:40px;
                overflow:hidden;
                border-bottom:1px solid #ccc;
                li{
                    border-top: 2px solid #F5F5F5;
                    font-size:16px;
                    height:39px;
                    line-height:35px;
                    color:#666;
                    padding:0 24px;
                    float:left;
                }
                .thistab{
                    border-top: 2px solid #d91519;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                }
            }
            .tab_conbox{
                width:1200px;
                height:160px;
                padding-top:10px;
                padding-left:15px;
                .tab_conbox_r{
                    display:none;
                    overflow:hidden;
                    dl{
                        display:block;
                        float:left;
                        width:130px;
                        height:160px;
                        dt{
                            a{
                                height:25px;
                                font-size:12px;
                                line-height:25px;
                                color:#666;
                            }
                            a:hover{
                                color:#d91519;
                                text-decoration:underline;
                            }
                        }
                        dd{
                            a{
                                height:25px;
                                font-size:12px;
                                line-height:25px; 
                                color:#666;
                            }
                            a:hover{
                                color:#d91519;
                                text-decoration:underline;
                            }
                        }
                    }
                }
                .tab_conbox_1{
                    display:block;
                }
            }
        }
    }
}
#total_sina{
    height:216px;
    background-color:#e2e2e2;
    .container{
        padding-top:16px;
        height:216px;
        overflow:hidden;
        position:relative;
        .sw_messa{
            width:267px;
            height:185px;
            padding:13px 32px 0px 25px;
            border-right:1px solid #ccc;
            ul{
                width:208px;
                height:100px;
                li{
                    margin-right:25px;
                    width:75px;
                    float:left;
                    dt{
                        font-size:16px;
                        line-height:24px;
                        text-align:center;
                        font-weight:bold;
                        margin-bottom:20px;
                    }
                }
            }
        }
        .new_show{
            width:900px;
            height:185px;
            padding-left:40px;
            padding-top:18px;
            dl{
                float:left;
                margin-right:80px;
                dt{
                    font-size:16px;
                    color:#666;
                    line-height:32px;
                    font-weight:bold;
                }
                dd{
                    a{
                        font-size:12px;
                        line-height:28px;
                        color:#666;
                    }
                    a:hover{
                        color:#ea203a;
                        text-decoration:underline;
                    }
                }
            }
        }
        p{
            font-size:16px;
            line-height:30px;
            position:absolute;
            left:25px;
            top:155px;
            i{
                font-size:30px;
                color:red;
                line-height:30px;
                margin-right:5px;
            }
        }
        .guanzhu{
            text-align:center;
            display:block;
            font-size:14px;
            border:1px solid #ccc;
            padding:5px 10px;
            position:absolute;
            left:145px;
            top:160px;
        }
        .guanzhu:hover{
            background-color:red;
            color:#fff;
        }
    }
}
#insider_box{
    width:80px;
    height:422px;
    position:fixed;
    right:0px;
    top:25%;
    ul{
        width:80px;
        height:370px;
        border:1px solid #ccc;
        background-color:#fff;
        border-radius:5px;
        .phone,.sever{
            width:78px;
            height:80px;
            text-align:center;
            border-bottom:1px solid #ccc;
            p{
                text-align:center;
                font-size:14px;
                line-height:20px;
                color:#686868;
            }
            i{
                font-size:40px;
                line-height:60px;
                color:#686868;
            }
            i:hover{
                color:#d91519;
            }
        }
        .qrcode,.wapqrcode{
            width:78px;
            height:105px;
            text-align:center;
            border-bottom:1px solid #ccc;
            p{
                text-align:center;
                font-size:14px;
                line-height:28px;
                color:#686868;
            }
            i{
                font-size:40px;
                line-height:60px;
                color:#686868;
            }
            i:hover{
                color:#d91519;
            }
        }
        .wapqrcode{
            border-bottom:0 none;
        }
    }
    .inreturntop{
        display:none;
        width:80px;
        height:50px;
        text-align:center;
        border:1px solid #ccc;
        background-color:#fff;
        border-radius:5px;
        p{
            text-align:center;
            font-size:14px;
            line-height:20px;
            color:#686868;
        }
        i{
            font-size:30px;
            line-height:30px;
            color:#686868;
        }
        i:hover{
            color:#d91519;
        }
    }
}