#bottom-box {
  height: 58px;
  background-color: #3d3d3d; }
  #bottom-box .container {
    height: 58px;
    text-align: center; }
    #bottom-box .container .bottom-top {
      height: 29px; }
      #bottom-box .container .bottom-top a {
        display: inline-block;
        height: 12px;
        margin-top: 12px;
        padding: 0 5px;
        font-size: 12px;
        line-height: 12px;
        color: #fff;
        border-right: 1px solid #fff; }
      #bottom-box .container .bottom-top a:hover {
        text-decoration: underline; }
    #bottom-box .container .bottom-bottom {
      padding-top: 5px;
      height: 29px;
      font-size: 12px;
      line-height: 12px;
      color: #fff; }
      #bottom-box .container .bottom-bottom a {
        display: inline-block;
        height: 12px;
        padding: 0 5px;
        font-size: 12px;
        line-height: 12px;
        color: #fff; }
      #bottom-box .container .bottom-bottom a:hover {
        text-decoration: underline; }
