.head-box {
  width: 100%;
  height: 145px; }
  .head-box .head-store {
    height: 30px;
    overflow: hidden; }
    .head-box .head-store .store-left {
      width: 30px;
      height: 30px;
      margin-left: 160px;
      background-color: #DE1B21;
      border-radius: 15px 0 0 15px; }
    .head-box .head-store .store-center {
      width: 980px;
      height: 30px;
      background-color: #DE1B21;
      overflow: hidden; }
      .head-box .head-store .store-center .login-box {
        width: 300px;
        height: 30px; }
        .head-box .head-store .store-center .login-box span {
          display: inline-block;
          font-size: 12px;
          color: #fff;
          line-height: 30px; }
          .head-box .head-store .store-center .login-box span a {
            color: #fff; }
        .head-box .head-store .store-center .login-box .logoName {
          margin-left: 10px; }
        .head-box .head-store .store-center .login-box span:hover a {
          color: #ffa800;
          cursor: pointer; }
      .head-box .head-store .store-center .top-nav {
        width: 500px;
        height: 30px; }
        .head-box .head-store .store-center .top-nav li {
          width: 60px;
          height: 30px;
          float: left;
          font-size: 12px;
          color: #fff;
          line-height: 30px; }
          .head-box .head-store .store-center .top-nav li a {
            color: #fff; }
          .head-box .head-store .store-center .top-nav li a:hover {
            color: #ffa800; }
        .head-box .head-store .store-center .top-nav .mob_topico:hover .message {
          display: block;
          z-index: 1; }
        .head-box .head-store .store-center .top-nav .mob_topico {
          width: 80px; }
          .head-box .head-store .store-center .top-nav .mob_topico span i {
            font-size: 16px;
            color: #fff;
            line-height: 30px;
            display: inline-block;
            margin-right: 2px; }
          .head-box .head-store .store-center .top-nav .mob_topico .message {
            display: none;
            width: 120px;
            height: auto;
            background-color: #fff;
            border: 1px solid #ccc;
            position: absolute;
            left: 805px;
            top: 42px;
            color: #DE1B21; }
            .head-box .head-store .store-center .top-nav .mob_topico .message p:nth-child(1) {
              padding-top: 5px; }
            .head-box .head-store .store-center .top-nav .mob_topico .message p:nth-child(4) {
              color: #686868; }
            .head-box .head-store .store-center .top-nav .mob_topico .message p {
              text-align: center;
              font-size: 12px;
              line-height: 20px; }
              .head-box .head-store .store-center .top-nav .mob_topico .message p span {
                font-size: 20px; }
            .head-box .head-store .store-center .top-nav .mob_topico .message .code {
              width: 100%;
              text-align: center; }
          .head-box .head-store .store-center .top-nav .mob_topico .message::before, .head-box .head-store .store-center .top-nav .mob_topico ::after {
            content: '';
            position: absolute;
            top: -20px;
            left: 48px;
            border: 10px solid transparent;
            border-bottom-color: #ccc; }
          .head-box .head-store .store-center .top-nav .mob_topico .message::after {
            top: -18px;
            border-bottom-color: #fff; }
      .head-box .head-store .store-center .consult-ico {
        width: 180px;
        height: 30px;
        padding-top: 5px; }
        .head-box .head-store .store-center .consult-ico a {
          display: block;
          width: 80px;
          height: 22px;
          background: url("../img/sprites.png") no-repeat 0 0; }
    .head-box .head-store .store-right {
      width: 30px;
      height: 30px;
      background-color: #DE1B21; }
  .head-box .head-logo {
    height: 115px;
    overflow: hidden; }
    .head-box .head-logo .logo-left {
      width: 257px;
      height: 115px; }
    .head-box .head-logo .logo-center {
      padding-left: 147px;
      padding-top: 33px;
      width: 640px;
      height: 115px; }
      .head-box .head-logo .logo-center .logo-center-top {
        height: 30px;
        width: 490px; }
        .head-box .head-logo .logo-center .logo-center-top #logo-search {
          width: 415px;
          height: 30px;
          padding-left: 10px;
          border: 1px solid #ccc;
          border-radius: 2px; }
        .head-box .head-logo .logo-center .logo-center-top #logo-btn {
          width: 75px;
          height: 30px;
          color: #737373;
          border: 1px solid #ccc;
          border-radius: 2px;
          background-color: #EFF0F5; }
      .head-box .head-logo .logo-center .logo-center-bottom {
        width: 490px;
        height: 32px; }
        .head-box .head-logo .logo-center .logo-center-bottom p {
          font-size: 12px;
          line-height: 32px;
          color: #737373; }
          .head-box .head-logo .logo-center .logo-center-bottom p a {
            display: inline-block;
            padding: 0 3px;
            font-size: 12px;
            line-height: 32px;
            color: #737373; }
          .head-box .head-logo .logo-center .logo-center-bottom p a:hover {
            color: #DE1B21; }
    .head-box .head-logo .logo-right {
      width: 221px;
      height: 115px;
      margin-right: 50px;
      background: url("../img/zhuanxian.jpg") no-repeat right bottom; }
