#gw-main-box {
  border-top: 2px solid #B90000; }
  #gw-main-box h2 {
    width: 960px;
    height: 40px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 40px;
    color: #C10015;
    font-weight: bold; }
  #gw-main-box .contain {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #F5C1C7;
    border-radius: 5px;
    padding: 0px 50px 20px; }
    #gw-main-box .contain h3 {
      margin: 0 auto;
      width: 763px;
      height: 51px;
      color: #C10015;
      font-size: 12px;
      line-height: 50px;
      font-weight: bold;
      border-bottom: 1px #FAD5D8 solid;
      margin-bottom: 5px; }
    #gw-main-box .contain .concar {
      margin: 0 auto;
      width: 763px;
      height: 100%; }
      #gw-main-box .contain .concar .title {
        width: 763px;
        height: 40px;
        border: 1px solid #FFB8BE;
        background-color: #FFE9E9; }
        #gw-main-box .contain .concar .title h2 {
          font-size: 16px;
          line-height: 38px;
          height: 38px;
          float: left;
          text-align: center;
          width: 100px;
          padding-left: 10px; }
        #gw-main-box .contain .concar .title h2:nth-child(1) {
          width: 110px;
          padding-left: 10px; }
        #gw-main-box .contain .concar .title h2:nth-child(2) {
          width: 250px;
          padding-left: 10px; }
      #gw-main-box .contain .concar table .tboy {
        width: 763px; }
        #gw-main-box .contain .concar table .tboy tr {
          width: 763px;
          height: 41px;
          border-bottom: 1px solid #FFB8BE; }
          #gw-main-box .contain .concar table .tboy tr td {
            width: 100px;
            padding-left: 10px;
            text-align: center;
            font-size: 12px;
            line-height: 40px;
            color: #666; }
          #gw-main-box .contain .concar table .tboy tr .tboy1 {
            width: 110px;
            padding-left: 10px;
            text-align: center;
            font-size: 12px;
            line-height: 40px;
            color: #666; }
          #gw-main-box .contain .concar table .tboy tr .tboy2 {
            width: 250px;
            padding-left: 10px;
            text-align: center;
            font-size: 12px;
            line-height: 40px;
            color: #666; }
          #gw-main-box .contain .concar table .tboy tr .tboy4 #qty_1 {
            display: inline-block;
            width: 30px;
            height: 20px;
            border: 1px solid #ccc;
            text-align: center; }
          #gw-main-box .contain .concar table .tboy tr .tboy4 #btn_1, #gw-main-box .contain .concar table .tboy tr .tboy4 #btn_2 {
            display: inline-block;
            text-align: center;
            width: 20px;
            height: 20px;
            cursor: pointer; }
          #gw-main-box .contain .concar table .tboy tr .tboy6 a {
            color: #666; }
          #gw-main-box .contain .concar table .tboy tr .tboy6 a:hover {
            text-decoration: underline; }
      #gw-main-box .contain .concar .order-sum-new {
        width: 763px;
        height: 121px;
        text-align: right;
        padding-top: 10px; }
        #gw-main-box .contain .concar .order-sum-new .p1 {
          width: 763px;
          height: 37px;
          font-size: 12px;
          line-height: 37px;
          color: #666; }
          #gw-main-box .contain .concar .order-sum-new .p1 .bb {
            margin-right: 30px; }
          #gw-main-box .contain .concar .order-sum-new .p1 .aa {
            color: #F3001A;
            font-weight: bold; }
          #gw-main-box .contain .concar .order-sum-new .p1 .dd {
            font-size: 18px;
            color: red;
            font-weight: bold; }
        #gw-main-box .contain .concar .order-sum-new .p2 {
          width: 763px;
          height: 37px;
          font-size: 12px;
          line-height: 37px;
          color: #666; }
          #gw-main-box .contain .concar .order-sum-new .p2 .ee {
            color: red;
            font-weight: bold; }
        #gw-main-box .contain .concar .order-sum-new .p3 {
          width: 763px;
          height: 37px;
          font-size: 12px;
          line-height: 37px;
          color: #666; }
          #gw-main-box .contain .concar .order-sum-new .p3 .dd {
            color: red;
            font-weight: bold; }
      #gw-main-box .contain .concar .order-button {
        width: 763px;
        height: 65px;
        padding-top: 20px;
        border-top: 1px solid #FFB8BE; }
        #gw-main-box .contain .concar .order-button .clearshopcar {
          padding-left: 15px; }
          #gw-main-box .contain .concar .order-button .clearshopcar .a1 {
            height: 25px;
            line-height: 25px;
            color: red;
            font-size: 15px; }
          #gw-main-box .contain .concar .order-button .clearshopcar .a2 {
            color: #8f8f8f;
            height: 25px;
            line-height: 25px;
            font-size: 15px;
            margin-right: 30px;
            cursor: pointer; }
          #gw-main-box .contain .concar .order-button .clearshopcar .a3 {
            color: red;
            height: 25px;
            line-height: 25px;
            font-size: 12px;
            margin-right: 30px;
            cursor: pointer;
            margin-right: 250px; }
          #gw-main-box .contain .concar .order-button .clearshopcar .a4, #gw-main-box .contain .concar .order-button .clearshopcar .a5 {
            display: inline-block;
            font-size: 15px;
            line-height: 41px;
            height: 41px;
            width: 139px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: orange;
            color: #fff;
            text-align: center;
            cursor: pointer; }
          #gw-main-box .contain .concar .order-button .clearshopcar .a5 {
            background-color: red; }
